@import "./img.css";
@import "./moove.css";
h3{
    background-color: #dbc2a4 ;
    margin: 5%;
}
h3 ~ li {
    margin: 5%;
}
.points{
    display: flex;
}
nav{
    background-color: #2c1d27;
}

address {
    vertical-align:top;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content:space-around;
}
main {
    vertical-align:top;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:left;
}
main section {
    vertical-align:top;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
footer{
    text-align: center;
    background-color: #782221;
}
body{
    margin-right: 15%;
    margin-left: 15%;
    border-right: 1px solid black;
}
p{
    margin: 2%;
    text-indent: 25px ;
}
header{
    text-align: center;
    background-color: #782221;
}


a {
    text-decoration: none;
    color:aliceblue;
}
    

    

#a h3{
    background-color: #dbc2a4 ;
    margin: 0%;
    margin-right: 3%;
    text-indent: 50px ;
}

nav p{
    margin: 0%;
}
#a {
    background-color: #782221;
}
#a section {
    margin: 5%;
}
#a h3{
    background-color: #dbc2a4 ;
    margin-left: -5.5%;
    margin-right: 3%;
    text-indent: 50px ;
}